* {
  margin: 0;
  padding: 0;
  
}

body {
  height: 100vh;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  background-image: url("bg.jpeg"); 
  background-size:cover;
  background-position:inherit;
  font-family: sans-serif;
}
h1.title{
font-size:50px ;
color: black;
background-color: #ffffff;
}

.container {
  max-width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

}
.container1 {
  max-width:800px ;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.butt{
  padding: 25px;
  background-color: red;
  font-size: 30px;
  color: white;
  margin: 0 35px 0 0;
  border-color: #ffffff;
}
input{
  max-width: 120px;
  margin: 20px auto;
}
.box {
  background: rgb(18, 19, 18);
  width: 100px;
  height: 100px;
  margin: 0 15px;
}
.box h3{
  color: #ffffff;
}

h3 {
  text-align: center;
  padding-top: 2px;
  color: white;

}
h2{
  margin: 50px 0 50px 0px;
  background-color: black;
  color: white;
}

.box h1 {
  font-size: 50px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  margin-bottom: 15px;
  color:white;
}

.alert {
  display: none;
}

@media screen and (max-width: 600px) {
  h1{
    font-size:30px ;
  }
  h2{
    font-size: 15px;
    background-color: black;
    color: white;
  }
  input{
    width: 50px;
    margin: 10px;
  }
  .butt{
    padding: 10px;
    font-size: 15px;
    margin: 0 35px 0 0;
  }
}